/* General Reset */
body, ul {
    margin: 0;
    padding: 0;
}

/* Header Section */
.header-bg {
    background-color: #6A7179;
    width: 100%; /* This fills the entire width */
}

.container {
    max-width: 1440px;
    height: 80px;
    margin: 0 auto; /* Center it */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    height: 50px;
    margin-right: 50px; /* Ensures the logo has the same spacing */
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px; /* Spaces elements 80px apart */
    padding: 0;
    margin: 0;
}

nav ul li {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Button */
.quote-button {
    background-color: #9452FF; 
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 20px 60px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
}

/* Hero Section */
#hero {
    background-image: url('../assets/images/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.5); /* Optional: Dark overlay for better text visibility */
    color: white;
    padding: 40px;
    border-radius: 10px;
}
